body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
  
}
.profile-image {
  max-width: 100%;
}

.business-card {
  width: 300px;
  background-color: rgb(194, 194, 194);
  padding: 20px 20px 20px 20px;
  margin-top:100px;
  font-size:16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
p {
  margin: 5px 5px;
}
a {
  text-decoration: none;
}