.card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding:5px;
    margin: 10px;
    width: 125px;
    height: 180px;
}

#playing-cards {
    background-color: lightpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.red {
    color: red;
}

.left {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: cent;
}

.right {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(180deg);
}

.middle {
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    transform: scale(2);

}

.card__rank {
    font-weight: bold;
    font-size: 16px;
}

.card__suit {
    font-size: 20px;
}
.flipped {
    transform: rotate(180deg);
}