/* Общие стили */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: -1;
  z-index: 1000;
}

/* Navbar */
.navbar {
  background-color: #d7c51f;
  color: white;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 60px; /* под header */
  z-index: 999;
}

.navbar ul,button {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.navbar a,
.navbar button {
  color: white;
  text-decoration: none;
  background-color: #d7c51f;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

/* Подменю */
.nav-item .sub-menu {
  display: none; /* скрыто по умолчанию */
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #444;
}

.nav-item:hover .sub-menu {
  display: block; /* показываем при наведении */
}

.sub-menu li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
}

/* Main content */
.main-content {
  padding: 2rem;
  margin-top: 120px; /* header + navbar */
}

/* Footer */
.footer {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}